<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<style>

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
     height: 100vh;
    background: linear-gradient(135deg, #333333, #000000);
}

nav {
    background-color: rgba(192, 192, 192, 0.7);
    padding: 12px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content {
    padding: 40px;
    text-align: center;
}

.content h1 {
    color: #ffffff;
    margin-bottom: 20px;
}


/*footer {
    background-color: rgba(192, 192, 192, 0.7);
    padding: 20px;
    text-align: center;
}
*/

</style>
<body>
    <nav>
        <ul>
            <li> <form action="/logout" method="POST"> <input type="submit" value="logout"></form></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Welcome to Our Website!</h1>
    </div>
</body>
</html>
