<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<style>

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #333333, #000000);
  color: #ffffff;
}

.login-container {
  background-color: rgba(192, 192, 192, 0.7);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
  transition: transform 0.3s ease;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
}

.form-group input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-group button {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: #ffffff;
  font-size: 15px;
  font-weight: 700;
}
.form-group button:hover {
  cursor: pointer;
}

</style>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="POST">           
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                {{#if message}}
                <p style="color: red;">Incorrect username or password</p>
                {{/if}}
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>
  